.main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.upcoming-meeetins{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
    border: 0.5px solid;
    padding: 2rem;
    border-radius: 5px;
}
.room-meeetins{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4rem;
    border: 0.5px solid;
    padding: 2rem;
    border-radius: 5px;
}


.book-btn{
    width: 13%;
}

.select-room{
    width: 30%;
}

.nav-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    background-color: #e3e3e3;
    padding-left: 10px;
}
.header-one{
    flex-basis: 88%;
}
.header-two{
    position: relative;
    top: 10px;
}

.header-three{
    position: relative;
    top: 10px;
    cursor: pointer;
}